.pkw-entity-person {
  background-color: yellow;
}

.tkw-entity-person {
  color: yellow;
}

.pkw-entity-guest, .skw-entity-guest {
  background-color: orange;
  color: white;
}

.pkw-entity-movie {
  background-color: lightblue;
}

.tkw-entity-movie {
  color: lightblue;
}

.pkw-lidl {
  background-color: #FFFF00;
}

.pkw-tesco {
 background-color: #FF8566;
}
